@import "tailwindcss";

@theme {
  --color-brand-pink: #e00371;
  --color-brand-black: #000000;
  --color-brand-dark: #101010;
  --color-brand-grey: #717173;
  --color-brand-white: #ffffff;

  --font-montserrat: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-montserrat);
  background-color: var(--color-brand-black);
  color: var(--color-brand-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-brand-pink);
  color: var(--color-brand-white);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-brand-black);
}

::-webkit-scrollbar-thumb {
  background: var(--color-brand-grey);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-pink);
}
